<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎登陆权限管理系统</title>
    <%
    List<Power> list=(List<Power>) request.getAttribute("listPower");
    int i=list.size();
    %>
    </head>
<body>
<div style="height: 120px;width: auto" >

</div>
<div style="height: 20px;width: auto">
    <ul>
        <%
        for (int j=0;j<i;j++){
        Power power=list.get(j);
        %>
        <li style="float: left;margin-right: 10px;">
            <button onclick="query(<%=power.getUrl()%>)"><%=power.getName()%></button>
        </li>
        <%
        }
        %>
    </ul>
</div>
</body>
<script type="text/javascript">
    function query(id){
        window.href=<%=path%>/id;
    }
</script>
</html>