<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <!--h2浏览器访问配置-->
    <!--用于数据库启动和数据库停止-->
    <listener>
        <listener-class>com.rbac.studengrbac.listener.D2DBServertStarListener</listener-class>
    </listener>

    <!--创建管理员用户账号-->
    <listener>
        <listener-class>com.rbac.studengrbac.listener.SystemManagerCreaterListener</listener-class>
    </listener>
    <!--使用h2控制台的servlet H2控制台是一个独立的应用程序，包括自己的web服务器，但他可以作为一个Servlet使用-->
    <servlet>
        <servlet-name>H2Console</servlet-name>
        <servlet-class>org.h2.server.web.WebServlet</servlet-class>
        <init-param>
            <param-name>webAllowOthers</param-name>
            <param-value></param-value>
        </init-param>
        <init-param>
            <param-name>trace</param-name>
            <param-value></param-value>
        </init-param>
        <!--启动顺序 1 -->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!--访问映射-->
    <servlet-mapping>
        <servlet-name>H2Console</servlet-name>
        <url-pattern>/console/*</url-pattern>
    </servlet-mapping>
    <!--h2 配置结束 可以在浏览器中访问-->

    <servlet>
        <servlet-name>lendServlet</servlet-name>
        <servlet-class>com.rbac.studengrbac.servlet.lendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>lendServlet</servlet-name>
        <url-pattern>/lendServlet</url-pattern>
    </servlet-mapping>

    <!--h2自定义函数引入-->
    <servlet>
        <servlet-name>CreateFunctionServlet</servlet-name>
        <servlet-class>com.rbac.studengrbac.InitalData.CreateFunctionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateFunctionServlet</servlet-name>
        <url-pattern>/CreateFunctionServlet</url-pattern>
    </servlet-mapping>
    <!--数据库建表和初始化数据-->
    <servlet>
        <servlet-name>CreateTableServlet</servlet-name>
        <servlet-class>com.rbac.studengrbac.InitalData.CreateTableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateTableServlet</servlet-name>
        <url-pattern>/CreateTableServlet</url-pattern>
    </servlet-mapping>
    <!--结束-->

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.rbac.studengrbac.servlet.LoginAndLogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>QueryServlet</servlet-name>
        <servlet-class>com.rbac.studengrbac.servlet.QueryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryServlet</servlet-name>
        <url-pattern>/QueryServlet</url-pattern>
    </servlet-mapping>
    <!--登陆过滤器-->
    <filter>
        <filter-name>CheckLoginFilter</filter-name>
        <filter-class>com.rbac.studengrbac.filter.CheckLoginFilter</filter-class>
        <init-param>
            <param-name>needCheckURI</param-name>
            <param-value>/LoginServlet,/lendServlet</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CheckLoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>InsertServlet</servlet-name>
        <servlet-class>com.rbac.studengrbac.servlet.InsertServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertServlet</servlet-name>
        <url-pattern>/InsertServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>com.rbac.studengrbac.servlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>QueryObjectServlet</servlet-name>
        <servlet-class>com.rbac.studengrbac.servlet.QueryObjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryObjectServlet</servlet-name>
        <url-pattern>/QueryObjectServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>com.rbac.studengrbac.servlet.UpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MenuServlet</servlet-name>
        <servlet-class>com.rbac.studengrbac.servlet.MenuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MenuServlet</servlet-name>
        <url-pattern>/MenuServlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>view/index.jsp</welcome-file>
    </welcome-file-list>

    <!--为所有jsp引入一个公共页面-->
    <jsp-config>
        <jsp-property-group>
            <!--为那些资源引入公共页面-->
            <url-pattern>*.jsp</url-pattern>
            <!--被引入的公共页面的位置-->
            <include-prelude>/view/common/common.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
</web-app>